{% extends 'base.html' %}

{% load static %}
{% block child_template_css %}
<link rel="stylesheet" href="{% static 'styles/admin.css' %}">
{% endblock %}


{% block content %}
<div class="admin-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-logo-container">
            <img src="{% static 'image/logo.png' %}" alt="MediAI-SmartAssist Logo" class="sidebar-logo">
        </div>
        <hr/>

        <ul class="sidebar-nav">
            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'user_management' %}">User Management</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="admin-content-header">
            <h3>Welcome, {{ request.user.username }}</h3>
        </div>
        {% block admin_content %}
        <!-- Default dashboard content -->
        <p>Select an option from the sidebar to get started.</p>
        {% endblock %}

    </div>
</div>
{% endblock %}