{% extends 'base.html' %}

{% load static %}
{% block child_template_css %}
    <link rel="stylesheet" href="{% static 'styles/auth.css' %}">
{% endblock %}

{% block content %}
    <div class="auth-container">
        <h2>User Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>

        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}


