{% extends 'base.html' %}

{% load static %}
{% block child_template_css %}
    <link rel="stylesheet" href="{% static 'styles/patient.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block content %}
    <div class="staff-container">
        <div class="staff-content">
            {% block staff_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}