
.main-content {
    flex: 1;
    padding: 12px;
}

.user-management {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.table-responsive {
    /* margin-top: 20px; */
}

.badge {
    padding: 5px 10px;
    border-radius: 4px;
}

.badge-success {
    background-color: #28a745;
    color: white;
}

.badge-danger {
    background-color: #dc3545;
    color: white;
}

.btn-group .btn {
    margin: 0 2px;
}

.create-user {
    align-content: center;
    width: 130px;
    height: 32px;
    float: right;
    margin-top: -32px !important;
}

.admin-content-header{
    margin: -20px 0 12px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 12px;
    padding-bottom: 4px;
    border-radius: 4px;
    text-align: center;
}

.create-user-back-button{
    padding-top: 8px;
}

.sidebar-logo {
    height: 100px;
    width: auto;
}

.sidebar-logo-container{
    text-align: center;
}

.sortable {
    cursor: pointer;
}

.sortable i {
    margin-left: 5px;
}

.search-box {
    min-width: 300px;
}

.input-group-text {
    background-color: white;
    border-left: none;
}

#userSearch {
    margin-right: 12px;
}

.input-group-text i {
    color: #6c757d;
}

.sortable {
    cursor: pointer;
}

.sortable i {
    margin-left: 5px;
}

.pagination {
    margin-bottom: 0;
}

.input-group-text{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}


.table-container {
    position: relative;
    min-height: 200px;
}

.div-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    min-height: 200px;
}

.div-loader::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: var(--accent-color);
}

.div-loader::before {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid var(--accent-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

